* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
  font-size: 18px;
}

body {
  line-height: 1.4;
}

/* Header and navigation */
header {
  padding-top: 1rem;
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
}

.flex {
  display: flex;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  align-items: center;
}

.logo img {
  height: 1.5rem;
  margin: 1rem 1rem 1rem 2rem;
}

nav {
  background-color: cadetblue;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.menu ul li {
  display: inline-block;
  margin-right: 2rem;
}

.mobileShow {
  display: none;
}

.banner {
  justify-content: flex-end;
  margin-top: 10rem;
  line-height: 1.2;
}

.banner h1 {
  font-weight: bold;
  background-color: white;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
  font-size: 2rem;
}

/* Main Section */

.offer {
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 3rem 0;
}

.offer span {
  text-align: center;
}

.offerBox {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  height: 8rem;
  width: 5rem;
}

.offerBox img {
  width: 5rem;
  height: auto;
}

img.paper {
  width: 3.5rem;
  height: auto;
}

.info {
  margin: 3rem 0;
  justify-content: center;
}

.infoBox {
  max-width: 35%;
  margin-right: 5%;
  margin-bottom: 4rem;
}

.infoBox h3 {
  max-width: 12.5rem;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: bold;
}

/* Footer */

footer {
  background-color: azure;
  align-items: center;
  padding: 4rem;
  justify-content: flex-start;
}

footer img {
  height: 1.5rem;
  width: auto;
  margin: 0 1rem 0 0;
}

/* Tablet */

@media only screen and (max-width: 960px) {
  header {
    padding-top: 0;
    height: 22rem;
  }

  .container {
    width: 100%;
  }

  .banner {
    margin-top: 5rem;
    padding: 0.75rem 4rem;
    margin-right: 2rem;
  }

  .banner h1 {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 660px) {

  header {
    background-position: 20%;
    height: 17rem;
  }

  .container {
    width: 100%;
  }

  .logo span {
    display: none;
  }

  .menu .mobileHide {
    display: none;
  }

  .menu .mobileShow {
    display: list-item;
  }

  .banner {
    justify-content: center;
    width: 100%;
    margin: 9rem auto 0 auto;
    padding: 0 1rem;
  }

  .banner h1 {
    font-size: 1rem;
  }
}
